@use '/assets/styles/mixins';
@import '/assets/styles/variables';

body {
    font-family: 'Raleway Variable', sans-serif;
}

.bg-main {
    background-color: #00bbd6;
}

.bg-second {
    background-color: #228fa2;
}
.bg-third {
    background-color: #f1bb1b;
}
.color-main {
    color: #00bbd6;
}

.color-second {
    color: #228fa2;
}
.color-third {
    color: #f1bb1b;
}
.color-white {
    color: white;
}
.texto-main {
    font-size: 1.1rem;
}
.texto-title {
    font-size: 2.5rem;
    font-weight: 900;
}
.texto-subtitle {
    font-size: 2rem;
    font-weight: 700;
}